.App {
  text-align: center;
}

.header{
  text-align: center;
  background-color: rgba(52, 202, 251, 0.551);
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 75px;
  font-size: 30px;
}
.footer{
  text-align: center;
  background-color: rgba(52, 202, 251, 0.551);
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 75px;
  font-size: 30px;
}
.content{
  height: 400px;
  text-align: center;
  font-size: 30px;
  padding-top: 200px;
}